

.frame {
  font-size: 14px;
  margin: 0 auto;
  max-width: 100%;
  padding: 12px;
  width: 600px;

  textarea {
    padding: 8px;
    min-height: 200px;
    width: 100%;
  }

  button {
    padding: 8px;
    width: 100%;
  }
}